<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	stopOnFailure="false"
	syntaxCheck="true"
	strict="false"
	verbose="true"
	bootstrap="Tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="SinyDaemonBundle Test Suite">
			<directory suffix="Test.php">Tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>Process</directory>
			<exclude>
				<directory>Tests</directory>
			</exclude>
		</whitelist>
	</filter>

</phpunit>
